<h1>Resume Chatbot</h1>

<p><b>Current Resume:</b> {{ resume_name }}</p>

{% for chat in chat_history %}
<p><b>You:</b> {{ chat.user }}</p>
<p><b>Bot:</b> {{ chat.bot }}</p>
{% endfor %}

<input id="question" placeholder="Ask something...">
<button onclick="send()">Send</button>
<a href="/" 
   style="
      display:inline-block;
      background:#4CAF50;
      color:white;
      padding:8px 14px;
      border-radius:6px;
      text-decoration:none;
      font-weight:bold;
      margin-bottom:10px;
   ">
   ➕ New Chat
</a>
<script>
function send() {
    let q = document.getElementById("question").value;

    fetch("", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({question: q})
    })
    .then(r => r.json())
    .then(d => location.reload());
}

</script>
